@import url(http://fonts.googleapis.com/css?family=Oswald);
 
body {
    background-color: #2b303a;
    font-family: 'Feildwork Geo Regular', 'Arial', sans-serif;
    margin-top: 10px; 
    margin-bottom: -10px;
    padding: 0;}
 
/* #page {
    background-color: #2b303a;
    margin: 0 auto 0 auto;
} */
    /* Responsive page rules at bottom of style sheet */
 
/* h1 {
    background-image: url(../images/kinglogo.png);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    /* text-indent: -1000%;
    height: 75px;
    line-height: 75px;
    width: 117px;
    margin: 0 auto 0 auto;
    padding: 30px 10px 20px 10px;}
  */
h2 {
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    text-justify: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin: 10px 0 23px 0;
padding-top: 1em;}


 
h2 span {
    border-radius: 50%;
    background-color: #000;
    font-size: 10px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: -5px;
    height: 18px;
    width: 20px;
    margin-left: 5px;
    padding: 4px 0;}
 
ul {
    border: 12px #b64933;
    padding: 0;
    margin: 0;
    font-size: 20px;
    text-align: center;
}
 
li {
    background-color: #58a4b0;
    color: rgb(0, 0, 0);
    border: 1px solid #2a2f2e;
    letter-spacing: .05em;
    list-style-type: none;
    height: 50px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 15px;
}

/* #one {
    
    text-align: center;
    text-justify: center;
    
} */

    /* #one    {
    color: rgb(243, 243, 243);
    background-color: #d64933;
    padding-top: 26px;
    font-size: 18px;
    } */

 
.tbd {
    background-color: #BAC1B8;
    }
 
/* #two {
    background-color: #0c7c59;
    font-size: 18px;
} */

.niece {
    background-color: rgb(0, 195, 195);
}

.blah    {
    background-color:rgb(116, 9, 204);
}

.other {
    background-color: seagreen;
}

.vaca {
    background-color: tomato;
}

/* 
#four {
    background-color:rgb(181, 194, 12)
}  */

/* .complete {
  background-color: rgb(110, 9, 9);
    color: #fff;
    background-image: url("../images/icon-trash.png");
    background-position: center, right;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 1px #333;} */
 
li a {
    color: #fff;
    border: #2b303A;
    text-decoration: none;
    background-image: url("../images/icon-link.png");
    background-position: center, right;
    background-repeat: no-repeat;
    padding-right: 36px;}
 
/* p {
    color: #d8775f; 
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 20px auto 20px auto;
    min-width: 20%; 
    max-width: 80%; } */
 
#scriptResults {
    padding-bottom: 10px;}
 
/* Small screen - acts like the app would */
@media only screen and (max-width: 500px) {
    body {
        background-color: #584f4d;
    }
    #page {
        max-width: 480px;
    }
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
    #page {
        max-width: 480px;
        margin: 20px auto 20px auto;
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #page {
        max-width: 480px;
        margin: 20px auto 20px auto;
    }
}
/* Larger screens act like a demo for the app */
@media only screen and (min-width: 960px) {
    #page {
        max-width: 480px;
        margin: 20px auto 20px auto;
    }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    h1{
        background-image: url(../img/2xkinglogo.png);
        background-size: 72px 72px;
    }
}
